body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #6C757D;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.cursor-pointer{
  cursor: pointer;
}


.fs-60{
  font-size: 3.75rem !important;
}

.start-10{
  left: .625rem;
}

.bottom-26{
  bottom: 26px;
}

.wrap{
  overflow-wrap: break-word !important;
}